.dashboard{
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.205), rgb(2, 0, 0));
}

.zone-name{
    font-weight: 800;
    font-size: larger;
    padding: 20px;

}



