.header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.24), rgba(7, 7, 0, 0.299));
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.393);
}

.header__navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el bloque */
    align-items: center;
}

.header__logo {
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.header__logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: 28%;
    
}

.header__item a {
    text-decoration: none;
    font-size: 20px;
    color: #fffefe;
    transition: color 0.3s ease;
    font-weight: 600;
}

.header__item a:hover {
    color:aqua;
}

.header__book {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;
}




