.Gallery{
    width: 100%;
    height: 550px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.205), rgb(2, 0, 0));
    overflow: hidden;
    display: flex;
    align-items: center;
}

.Gallery__img{
    gap: 40px;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    display: flex;
    animation: slide 19s infinite;
}

@keyframes slide {
    0%, 100% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
}
